version: "3.8"

services:
    server:
        build: ./server
        container_name: agri_server
        ports:
            - "5000:5000"
        env_file:
            - ./server/.env
        volumes:
            - ./server:/app
            - /app/node_modules

    client:
        build: ./client
        container_name: agri_client
        ports:
            - "5173:5173"
        depends_on:
            - server
        env_file:
            - ./client/.env
        volumes:
            - ./client:/app
            - /app/node_modules
